{% extends "base.html" %}
{% block content%}

<div class="container">

    <h2>Investor List</h2>


    <br />
    <br />

    <table class="table table-bordered table-condensed">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th></th>

      </tr>
      {% for object in object_list %}
      <tr>
        <td><a href={% url 'startups:detail' object.pk %}>
          <img src="{{ object.logo.url }}" height="50">
          </a>
        </td>
        <td><a href={% url 'startups:detail' object.pk %}>{{ object.name }}</a></td>
        <td>{{object.description}}</td>
        <td><a class="btn btn-success " href={% url 'startups:detail' object.pk %} role="button">Invest</a></p></td>

      </tr>
      {% endfor %}
    </table>


</div>


{% if is_paginated %}
<nav>
  <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        {% endif %}
      </ul>

      <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
</nav>
{% endif %}



{% endblock %}
