{% extends "base.html" %}

{% block content %}
    <div class="startup">

        <!-- {% if startup.created_date %}
            <div class="date">
                {{ startup.created_date }}
            </div>
        {% endif %} -->

        {% if object.logo %}
          <center><img src="{{ object.logo.url }}" height="200"></center>
        {% endif %}

        <h1>{{ startup.name }}</h1>

        <p>{{ startup.description|linebreaksbr }}</p>
        <p>Goal: <b>{{ startup.goal }} руб.</b></p>
        <p>User: {{ startup.user }}</p>
        <p>Wallet ETH: <a href="https://ropsten.etherscan.io/address/{{ startup.wallet }}">{{ startup.wallet }}</a></p>
        <br />
        <p>Website: <a href="{{ startup.website }}">{{ startup.website }}</a></p>
        <p>Created date: {{ startup.created_date }}</p>
        <p>Launch date: {{ startup.launch_date }}</p>


        <p><a class="btn btn-lg btn-info " href={% url 'startups:startup_add' %} role="button">Invest</a></p>

        <br />
        <div id="disqus_thread"></div>
        <script>

          var disqus_config = function () {
          this.page.url = '//itog.xyz/startup/{{ startup.id }}';
          this.page.identifier = '{{ startup.id }}';
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://itog-xyz.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



    </div>
{% endblock %}
