{% extends "base.html" %}

{% block content %}
    <div class="startup">

        <!-- {% if startup.created_date %}
            <div class="date">
                {{ startup.created_date }}
            </div>
        {% endif %} -->

        <h1>{{ startup.name }}</h1>
        <p>{{ startup.description|linebreaksbr }}</p>
        <p>Startup id: <a href="https://wavesexplorer.com/tx/{{ startup.token_id }}">{{ startup.token_id }}</a></p>
        <p>Issuer id: <a href="https://wavesexplorer.com/address/{{ startup.sender_id }}">{{ startup.sender_id }}</a></p>
        <p>amount: {{ startup.amount }}</p>
        <p>reissuable: {{ startup.reissuable }}</p>
        <p>{{ startup.created_date }}</p>

        <br />
        <div id="disqus_thread"></div>
        <script>

          var disqus_config = function () {
          this.page.url = 'https://itog.xyz/startup/token/{{ startup.id }}';
          this.page.identifier = '{{ startup.token_id }}';
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://itogxyz.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



    </div>
{% endblock %}
